<header class="fixed top-0 left-0 z-10 w-screen bg-white h-20 flex items-center justify-center shadow">
  <div class="w-full h-full bg-white z-5 max-w-screen-2xl px-5 flex justify-between items-center">
    <a href="/"><img src="/images/logo.png" alt="Logo Krust Burguer" class="w-36 md:w-44" /></a>
    <ul class="hidden items-center gap-5 font-semibold group transition text-lg lg:flex">
      <a href="/#ofertas" class="hover:text-red-500 ease-in-out duration-300">
        <li>Ofertas</li>
      </a>
      <a href="/sobre" class="hover:text-red-500 ease-in-out duration-300">
        <li>Sobre</li>
      </a>
      <a href="#footer" class="hover:text-red-500 ease-in-out duration-300">
        <li>Contato</li>
      </a>
    </ul>
    <div class="flex items-center gap-7">
      <div class="flex items-center gap-3 md:gap-7">
        <div class="hidden items-center gap-3 md:gap-5 lg:flex mr-5 ">
          <a href="/painelAdm"><img src="/profile_pics/{{dadosUser.foto}}" alt="foto" class="w-8 rounded-full"></a>
        </div>
      </div>
      <div class="flex lg:hidden cursor-pointer">
        <i id="cesta" class="fa-solid fa-bars text-3xl text-red-500"></i>
      </div>
    </div>
  </div>
  <div id="menu-mobile-logged"
    class="absolute -z-10 disable-menu flex flex-col w-full p-5 border-b gap-5 transition-all duration-200 ease-in-out lg:hidden bg-white">
    <ul class="flex flex-col items-start gap-3 group transition text-lg">
         <a href="/#krustyOfertas" class="hover:text-red-500 ease-in-out duration-300">
        <li>Cardápio</li>
      </a>
      <a href="/sobre" class="hover:text-red-500 ease-in-out duration-300">
        <li>Sobre</li>
      </a>
      <a href="#footer" class="hover:text-red-500 ease-in-out duration-300">
        <li>Contato</li>
      </a>
    </ul>
    <div class="flex items-start gap-3">
      <img src="/profile_pics/{{dadosUser.foto}}" alt="foto de perfil" class="w-8 rounded-full">
      <a href="/painelAdm" class="border border-red-500 rounded-full px-6 py-1 font-semibold">Perfil</a>

    </div>
  </div>
</header>
<script>

</script>