<main class="w-screen mt-20 flex flex-col items-center w-full h-full">
    <h1>Alterar Senha</h1>
    <div class="flex items-center p-4">
        <form action="/alterar-senha" method="post" class="flex flex-col w-full h-fit">
            <div class="flex gap-2">
                <label for="novaSenha">Nova Senha:</label>
                <input type="password" id="novaSenha" name="novaSenha" required>
                <label for="novaSenha">Confirme a senha:</label>
                <input type="password" id="confirmaSenha" name="confirmaSenha" required>
            </div>
            <button type="submit"
                class="mt-8 border border-red-500 rounded-full px-4 py-2 text-red-500 font-semibold">Atualizar
                Senha</button>
        </form>
    </div>
</main>