<section class="w-full h-fit flex items-center justify-center px-3 py-5">
  <div class="max-w-screen-xl w-full h-fit flex justify-center ">
    <div
      class="w-full h-full bg-white border border-gray-50 shadow-md rounded-md flex flex-col px-20 py-10 m-5  justify-center">
      <div class="w-full relative flex flex-col gap-3 mb-8 justify-center">
        <div class="bg-gradient-to-b from-orange-400 to-red-600 w-2 h-7 absolute -left-3 top-2"></div>
        <h2 class="font-bold text-4xl">Painel do Administrador
        </h2>

        <p class="text-lg text-zinc-600">
          Gerencie os gerentes da krusty Burger!
        </p>
      </div>

      <div
        class="max-w-screen-lg w-full h-fit grid grid-col-1 lg:grid-cols-2 gap-10 md:p-8 justify-center my-0 mx-auto">

        <a href="/cadastrarGerentes" class="">
          <div
            class="flex h-full w-full p-6 bg-white border border-gray-50 shadow-lg rounded-md items-center hover:scale-105 transition-all">
            <div class="hidden md:w-2/5 md:block">
              <img class="w-10/12" src="/images/cadastrarGerente.svg" alt="imagem de cadastro" class="w-full" />
            </div>

            <div class="w-3/5 flex flex-col gap-2">
              <h2 class="font-bold text-2xl">
                Cadastrar
                <span class="text-orange-500 font-ubuntu">Gerentes</span>
              </h2>
              <p class="text-gray-600 leading-5">Cadastre os gerentes da Krusty Burger!
              </p>
            </div>
          </div>
        </a>

        <a href="/consultarGerentes" class="">
           <div
            class="flex h-full w-full p-6 bg-white border border-gray-50 shadow-lg rounded-md items-center hover:scale-105 transition-all">
            <div class="hidden md:w-2/5 md:block">
              <img class="w-10/12" src="/images/cadastrarGerente.svg" alt="imagem de cadastro" class="w-full" />
            </div>

            <div class="w-3/5 flex flex-col gap-2">
              <h2 class="font-bold text-2xl">
                Consultar
                <span class="text-orange-500 font-ubuntu">Gerentes</span>
              </h2>
              <p class="text-gray-600 leading-5">Consulte, edite e exclua qualquer gerente da Krusty Burger!
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>