 <section class="w-full h-fit flex items-center justify-center px-3 py-5">
  <div class="max-w-screen-sm w-full h-fit flex justify-center">
   
    <div class="w-full h-full flex-col flex items-center justify-center bg-white border border-gray-50 shadow-md rounded-lg p-10 md:p-20 md:mt-12">

      <div class="w-full relative flex flex-col gap-3 mb-8">
        <div class="bg-gradient-to-b from-orange-400 to-red-600 w-2 h-7 absolute -left-3 top-2"></div>
        <h2 class="font-bold text-4xl ">Login <span class="text-orange-500 font-ubuntu">Administrador</span></h2>
        <p class="text-gray-600">Bem-vindo à área administrativa da nossa empresa Krusty Burger! </p>
      </div>

      <form action="/loginAdm" method="POST" class="w-full flex flex-col gap-6">
     
      <div class="gap-3">
        <label for="name" class="font-semibold text-lg text-gray-600">Nome:</label>
        <div class="flex items-center gap-2 border-b border-red-500 p-1 w-full font-normal text-black">
          <i class="fa-regular fa-user text-red-500 text-xl"></i>
          <input type="text" name="nome" id="nome" class="outline-none w-full">
        </div>
      </div>

      <div class="gap-3">
        <label for="name" class="font-semibold text-lg text-gray-600">Email:</label>
        <div class="flex items-center gap-2 border-b border-red-500 p-1 w-full font-normal text-black">
          <i class="fa-regular fa-envelope text-red-500 text-xl"></i>
          <input type="text" name="email" id="email" class="outline-none w-full">
        </div>
      </div>
      <div class="gap-3">
        <label for="name" class="font-semibold text-lg text-gray-600">Senha:</label>
        <div class="flex items-center gap-2 border-b border-red-500 p-1 w-full font-normal text-black">
          <i class="fa-solid fa-lock text-red-500 text-xl"></i>
          <input type="password" name="senha" id="senha" class="outline-none w-full">
        </div>
      </div>
      <button type="submit" class="bg-red-500 w-full rounded-full text-white mt-8 py-4 font-bold text-xl relative">Login <i class="fa-solid fa-arrow-right text-white absolute right-6 top-4 text-3xl flex items-center"></i> </button>
      </form>

      <p class="text-gray-600">Esqueceu a senha? <a href="#" class="text-teal-500">Recuperar Senha</a></p>

      
    </div>
  </div>
 </section>