<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crie sua conta</title>
  <!-- Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include jQuery Mask Plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>

<body class="bg-gray-50">
  <div class="flex h-fit flex-col justify-center items-center px-3 py-12 max-w-screen-2xl w-full">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <h2 class="mt-10 text-center text-3xl font-extrabold leading-9 tracking-tight text-gray-900 capitalize">Crie sua conta</h2>
    </div>

    <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-md">
      <form class="space-y-6" action="/signin" method="POST">
        <div>
          <label for="name" class="block text-lg font-semibold text-gray-900">Nome Completo</label>
          <div class="mt-1">
            <input id="name" placeholder="Seu nome" name="name" type="text" autocomplete="name" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="telefone" class="block text-lg font-semibold text-gray-900">Telefone</label>
          <div class="mt-1">
            <input id="telefone" placeholder="(00) 00000-0000" name="telefone" type="text" autocomplete="tel" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="endereco" class="block text-lg font-semibold text-gray-900">Endereço</label>
          <div class="mt-1">
            <input id="endereco" placeholder="Rua Krusty N°12" name="endereco" type="text" autocomplete="street-address" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="cpf" class="block text-lg font-semibold text-gray-900">CPF</label>
          <div class="mt-1">
            <input id="cpf" placeholder="000.000.000-00" name="cpf" type="text" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="email" class="block text-lg font-semibold text-gray-900">Email</label>
          <div class="mt-1">
            <input id="email" placeholder="example@gmail.com" name="email" type="email" autocomplete="email" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="password" class="block text-lg font-semibold text-gray-900">Senha</label>
          <div class="mt-1">
            <input id="password" placeholder="*********" name="password" type="password" autocomplete="new-password" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        <div>
          <label for="confirmPassword" class="block text-lg font-semibold text-gray-900">Confirme a Senha</label>
          <div class="mt-1">
            <input id="confirmPassword" placeholder="*********" name="confirmPassword" type="password" autocomplete="new-password" required
              class="block w-full rounded-md bg-white py-2 px-3 text-gray-900 shadow ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-red-500 focus:border-red-500">
          </div>
        </div>

        {{#if message}}
        <div class="flex flex-col text-center text-sm bg-red-500/20 px-3 py-2 rounded-md">
          <span>{{{message}}}</span>
        </div>
        {{/if}}

        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-red-600 px-4 py-2 text-lg font-semibold text-white shadow hover:bg-red-700 transition-all ease-in-out duration-300">Criar
            Conta</button>
        </div>
      </form>

      <p class="mt-10 text-center text-sm text-black">
        Já possui uma conta?
        <a href="/login" class="underline font-semibold text-red-600 hover:text-red-700">Faça Login aqui!</a>
      </p>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      $('#cpf').mask('000.000.000-00', { reverse: true });
      $('#telefone').mask('+55 (00) 00000-0000');
    });
  </script>
