<div class="w-full h-fit text-black px-3 py-5 flex justify-center items-center md:mt-12">
  <div class="max-w-screen-2xl w-full h-fit flex flex-col gap-5">
    <div class="grid grid-cols-1 md:grid-cols-4 items-start ">
      <ul class="flex flex-col gap-4 pl-5 font-semibold col-span-1 text-lg">
        <a href="/profile" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li class="relative">Informações pessoais </li>
        </a>
        <a href="/profile/pedidos" class="hover:text-red-500 ease-in-out duration-300 w-fit flex items center">

          <li class="relative">Histórico de pedido <div
              class="bg-gradient-to-b from-orange-400 to-red-600 w-1 h-4 absolute top-[5px] -left-3"></div>
          </li>
        </a>
        <a href="/s" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li>Alterar senha</li>
        </a>
        <a href="#" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li><button class="border border-red-500 rounded-full px-6 py-1 text-red-500 font-semibold">Sair</button></li>
        </a>
      </ul>
      <section class="flex flex-col mt-8 p-5 md:w-[80%] col-span-3 md:shadow-md bg-white md:shadow-inner md:mt-0">
        <div class="flex items-center gap-1">
          <div class="bg-gradient-to-b from-orange-400 to-red-600 w-1 h-4"></div>
          <h2>Histórico de <span>pedidos</span></h2>
        </div>
        <div class="h-full w-full flex justify-center items-center p-4">
          <div class="h-fit w-fit flex justify-center">
            <div class="w-full bg-gray-50 flex gap-6">
              <div class="">

              </div>
              <div class="flex flex-col gap-5">
                <div class="flex gap-7">
                  <div class="flex flex-col">
                    <p>ID do pedido: #222</p>
                    <p class="text-xs">HORA: 15:22</p>
                    <P class="text-xs">DATA: 06/05/2024</P>
                  </div>
                  <div class="flex ml-auto mb-auto items-center gap-2 items-start">
                    <p>Em preparo
                    <div class="w-[10px] h-[10px] bg-orange-500 rounded-full"></div>
                    </p>
                  </div>
                </div>
                <div class="flex items-center gap-6">
                  <p>Total do pedido: R$ 89,99</p>
                  <button class="px-7  py-1 bg-orange-500 rounded-full text-white">Detalhes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>