<div class="w-full h-fit text-black px-3 py-5 flex justify-center items-center md:mt-12">
  <div class="max-w-screen-2xl w-full h-fit flex flex-col gap-5">
    <div class="grid grid-cols-1 md:grid-cols-4 items-start ">
      <ul class="flex flex-col gap-4 pl-5 font-semibold col-span-1 text-lg">
        <a href="/profile" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li class="relative">Informações pessoais <div
              class="bg-gradient-to-b from-orange-400 to-red-600 w-1 h-4 absolute top-[5px] -left-3"></div></li>
        </a>
        <a href="/profile/pedidos" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li>Histórico de pedido</li>
        </a>
        <a href="/s" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li>Alterar senha</li>
        </a>
        <a href="/logout" class="hover:text-red-500 ease-in-out duration-300 w-fit">
          <li><button
              class="border border-red-500 rounded-full px-6 py-1 text-red-500 font-semibold" id="sair">Sair</button></li>
        </a>
      </ul>
      <section
        class="flex flex-col mt-8 p-5 col-span-3 md:shadow-md bg-white md:shadow-inner md:mt-0">
        <div class="flex justify-start items-center gap-1">
          <div
            class="bg-gradient-to-b from-orange-400 to-red-600 w-1 h-4 sm:h-6"></div>
          <h2 class="font-bold text-2xl sm:text-3xl capitalize">informações
            <spam class="text-amber-600">pessoais</spam></h2>
        </div>
        <div class="flex gap-6 items-center">
          <div class="w-28 h-28 rounded-full my-5">
            <img src="/images/avatar.jpg" class="rounded-full" alt>
          </div>
        </div>
        <form id="editForm" class="grid grid-cols-1 gap-6 md:grid-cols-2" action="/atualizarUsuario" method="POST">
          <div class="space-y-6">
            <div class="flex flex-col gap-1">
              <label for="name">Nome</label>
              <div class="flex items-center gap-2 border-b border-red-500 p-1">
                <i class="fa-regular fa-user text-red-500"></i>
                <input type="text" name="nome" id="nome"
                  class="outline-none w-full bg-gray-100 cursor-not-allowed"
                  disabled value="{{dadosUser.nome}}"
                  required>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <label for="name">Endereço</label>
              <div class="flex items-center gap-2 border-b border-red-500 p-1">
                <i class="fa-solid fa-location-dot text-red-500"></i>
                <input type="text" name="endereco" id="endereco" value=""
                  class="outline-none w-full bg-gray-100 cursor-not-allowed"
                  disabled placeholder="Digite seu endereço"
                  required>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <label for="name">CPF</label>
              <div
                class="flex items-center gap-2 border-b border-red-500 p-1">
                <i class="fa-regular fa-address-card text-red-500"></i>
                <input type="text" name="cpf" id="cpf" value="{{dadosUser.cpf}}"
                  class="outline-none w-full bg-gray-100 cursor-not-allowed"
                  disabled required>
              </div>
            </div>
          </div>
          <div class="space-y-6">
            <div class="flex flex-col gap-1">
              <label for="name">Email</label>
              <div class="flex items-center gap-2 border-b border-red-500 p-1">
                <i class="fa-solid fa-envelope text-red-500"></i>
                <input type="email" name="email" id="email" value="{{dadosUser.email}}" class="outline-none w-full bg-gray-100 cursor-not-allowed"
                  disabled
                  required>
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <label for="name">Telefone</label>
              <div class="flex items-center gap-2 border-b border-red-500 p-1">
                <i class="fa-solid fa-phone text-red-500"></i>
                <input type="tel" name="telefone" id="telefone" value=""
                  class="outline-none w-full bg-gray-100 cursor-not-allowed"
                  disabled placeholder="Digite seu Telefone"
                  required>
              </div>
            </div>
          </div>
          <div class="flex gap-2">
          <button type="button" id="editButton" class="self-start mt-8 border border-red-500 rounded-full px-6 py-2 text-red-500 font-semibold">Editar informações</button>
          <button type="submit" id="saveButton" class="self-start mt-8 border border-red-500 rounded-full px-6 py-2 text-red-500 font-semibold">Salvar</button>
        </div>
        
        </form>

         <script>
    document.addEventListener('DOMContentLoaded', function() {
      const editButton = document.getElementById('editButton');
      const saveButton = document.getElementById('saveButton');
      const inputs = document.querySelectorAll('#editForm input');

      editButton.addEventListener('click', function() {
        inputs.forEach(input => {
          input.disabled = false;
          input.classList.remove('bg-gray-100','cursor-not-allowed') 
          });
        saveButton.disabled = false;
      });
    });

    document.getElementById('sair').addEventListener('click', function() {
      localStorage.clear();
      sessionStorage.clear();
    });
  </script>

        
      </section>
    </div>
  </div>
</div>

