<main class="w-screen mt-20 flex flex-col items-center">
    <h1>Alterar Senha</h1>
    <form action="/alterar-senha" method="post">
        <label for="novaSenha">Nova Senha:</label>
        <input type="password" id="novaSenha" name="novaSenha" required>
        <button type="submit">Atualizar Senha</button>
    </form>
</main>